/*** VARIABLES / COLORS ***/
:root {
    --background: #202024;
    --main-grey: rgba(17, 17, 17, 0.9);
    --secondary-grey: rgba(17, 17, 17, 0.9);
    --light-grey: #3c3c44;
    --gold: #965f33;
    --offWhite: #e6e6e6;
    --hover: rgba(255, 255, 255, 0.25);
  }
h1{
    color: var(--offWhite)
}
.grid-api{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: 500px;
}
p{
    font-size: 1rem;
    color: var(--offWhite);
}
li{
    list-style: none;
}

.card {
    width: 304px;

  }
  
.cardTitle {
    font-size: 3rem;
    content: red;
  }
  
.cardBody {
    padding: 6px;
    width: 285px;
    min-height: 130px ;
    border: 2px solid var(--light-grey);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #254E58;
  }
  
.projectImageWrapper {
    width: 300px;
    height: 300px;
  }
  
.projectImageWrapper img {
    border-radius: 10px 10px 0 0;
  }
  
.screenshot {
    height: 100%;
    width: 100%;
  }
  
.cardTitle {
    text-align: center;
    font-weight: bold;
    margin: 10px;
  }
.btn{
    cursor: pointer;
    background: #86c232;
    border: 2px solid var(--offWhite);
    color: var(--offWhite);
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    transition: 0.2s ease-in;
    animation-duration: 1.6s;
    text-align: center;
}